<html>
  <head>
    <title>AuthorDetails</title>
  </head>

  <body><center>
    <h1 class="text-danger"><%= @user.first_name %> <%= @user.last_name %></h1></br>
    <p> Description : <%= @user.description %></p></br>
    <p> Email : <%= @user.email %></p></br>
    <p> Age : <%= @user.age %></p></br>
    <p> City : <%= @user.city.name %></p></center>
  </body>
</html>