<html>
  <head>
    <title>GossipDetails</title>
  </head>

  <body><center>
    <h1 class="text-danger"> Title : <%= @gossip.title %></h1></br>
    <p><b>Author</b> : <a href="/static_pages/authordetails/<%= @user.id %>"><%= @gossip.user.first_name%> <%= @gossip.user.last_name%></a></p></br>
    <p><b>Content</b> : <%= @gossip.content %></p></br>
    <p><b>Created at</b> : <%= @gossip.created_at %></p></br></center>
  </body>
</html>