<html>
  <head>
  </head>
  <body>

    <%= form_tag url_for(action: 'create'), method: "post" do %>

      <%= label_tag 'Title' %>
      <%= text_field_tag 'title', @gossip.title %>
      <br /> <br />

      <%= label_tag 'Content' %>
      <%= text_area_tag 'content', @gossip.content %>
      <br /> <br />

      <%= submit_tag "Create Gossip" %>

    <% end %>

    <% if @gossip.errors.any? %>
	    <div class="alert alert-danger" role="alert">
	    	<p>Impossible de créer le gossip pour la/les raison(s) ci-dessous :</p>
	        <ul>
	          <% @gossip.errors.full_messages.each do |message| %>
	            <li><%= message %></li>
	          <% end %>
	        </ul>
	    </div>
    <% end %>

  </body>
</html>